<template>
  <div class="header">
    <div class="global-nav">
      <div  class="global-nav-inner">
        
      </div>

    </div>
  </div>
</template>

<script>
export default {
  name: "Header",
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .header {
         -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      border-bottom: 1px solid #e6ecf0;
      border-bottom: 1px solid rgba(0,0,0,0.05);
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1000;
    }
    .global-nav {
      border-bottom: 1px solid rgba(0,0,0,0.25);
      height: 46px;
      position: relative;
      width: 100%;
    }
     .global-nav-inner {
      background: #fff;
      height: 46px;
    }
</style>
