<template>
    <div class="container-main">
        <div class="dashboard dashboard-left">
            <input-search :keyword.sync="valKeyword"></input-search>
        </div>
        <div class="content-main top-timeline-tweetbox">
            <item-product v-for="dataItem in filteredData" :key="dataItem.id"  :dataItem.sync="dataItem" ></item-product>
        </div>
    </div>
</template>

<script>
import InputSearch from './InputSearch'
import ItemProduct from './ItemProduct'
export default {
  name: "Home",
  components : {
      InputSearch,
      ItemProduct
  },
  data: function () {return {
        valKeyword: '',
        dataItems : [
            {
                id : 1,
                title: "brang ndasmu",
                description : 'Barang ndasmu adalah barang berbentuk kepala',
                rating : 5
            },
            {
                id : 2,
                title: "brang Matamu",
                description : 'Barang ndasmu adalah barang berbentuk mata',
                rating : 5
            },
             {
                id : 3,
                title: "brangmu peang",
                description : 'Barang ndasmu adalah barang berbentuk peang',
                rating : 3
            },
             {
                 id : 4,
                title: "brang tangan",
                description : 'Barang ndasmu adalah barang berbentuk tangan',
                rating : 2
            },
             {
                 id : 5,
                title: "brang asumu",
                description : 'Barang ndasmu adalah barang berbentuk anak anjing',
                rating : 5
            },
            {
                id : 6,
                title: "brang ituu",
                description : 'Barang ndasmu adalah barang berbentuk itu tuu',
                rating : 2
            },
        ]
    }},
    computed : {
        filteredData:{
            set : function (params) {
                    return this.dataItems
                },
            get : function (params) {
                    if(this.valKeyword == '' || this.valKeyword ==0){
                        return this.dataItems
                    }else {
                        return this.dataItems.filter((el)=> {
                            return el.rating <= this.valKeyword
                        })                    
                    } 
                }   
        }
    },
    watch : {
        dataItems : function (params) {
            console.log(params)
        },
        valKeyword : function (params) {
            console.log(params)

        }
    }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .dashboard {
        float: left;
        width: 290px;
    }
    .content-main{
       width: 860px;
       float: left;
       margin-left: 15px;
       padding-top: -15px;
    }

    @media (min-width: 1236px){
        body.three-col .content-main {
        float: left;
        margin: 0 10px;
        }
    }
</style>
