<template>
    <div class="content-search">
        <div>
            <input v-model="keywordValue" type="number" maxlength="5" />
            <button @click="submitKeyword">Search</button>
        </div>
       
    </div>
</template>

<script>
export default {
  name: "contentSearch",
  props :{
      keyword : String
  },
  data : function () {

      return {keywordValue : this.keyword}
  },
  methods : {
      submitKeyword () {
          this.$emit('update:keyword',this.keywordValue);
      }
  }

};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .content-search {
        background-color: #fff;
        background-clip: inherit;
        border: 1px solid #e6ecf0;
        line-height: inherit;
        padding: 15px;
        height: 200px;
    }
</style>
