<template>
    <div class="item-product">
        <h1>{{dataItem.title}}</h1>
        <p>{{dataItem.description}}</p>
        <p>{{valueRating}}</p>
        <rating-component :value.sync="valueRating"/>
    </div>
</template>

<script>
import Rating from '../../shared/rating/rating'
export default {
  name: "ItemProduct",
  components : {
      'rating-component': Rating
  },
  props : {
      dataItem : Object
  },
  data : function () {
      return {
          valueRating : this.dataItem.rating
      }
  },
  watch : {
      valueRating : function (val) {
          this.dataItem.rating = val
          this.$emit('update:dataItem',this.dataItem)
          console.log(this.dataItem);
      }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .item-product {
        background-color: #fff;
        background-clip: inherit;
        border: 1px solid #e6ecf0;
        padding: 15px;
        min-height: 100px;
        margin: 15px 0px
    }
</style>
