<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>listitemstar</title>
    <style>
      body{
        background: #e6ecf0;
        color: #14171a;
        font-size: 14px;
        line-height: 20px;
        overflow-y: scroll;
        height: 100%;
      }
    </style>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but listitemstar doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
  
</html>
