<template>
    <div class="star-rating">
        <label class="star-rating__star" v-for="(index,rating) in ratings" :key="index"
            :class="{'is-selected': ((ratingVal >= rating) && ratingVal != null), 'is-disabled': disabled}" 
            v-on:click="set(rating)" v-on:mouseover="star_over(rating)" v-on:mouseout="star_out">
        <input class="star-rating star-rating__checkbox" type="radio" :value="value" :name="name" v-model="ratingVal" :disabled="disabled">★</label>
    </div>

</template>

<script>
export default {
    name: "Header",
    props: {
        'name': String,
        'value': null,
        'id': String,
        'disabled': Boolean,
        'required': Boolean
    },
    data: function() {
        return {
            temp_value: null,
            ratings: [1, 2, 3, 4, 5],
            ratingVal : this.value
        };
    },
    methods: {
    /*
     * Behaviour of the stars on mouseover.
     */
        star_over: function(index) {
             var self = this;

            if (!this.disabled) {
                this.temp_value = this.value;
                return this.ratingVal = index;
            }
        },

    /*
     * Behaviour of the stars on mouseout.
     */
        star_out: function() {
            var self = this;

            if (!this.disabled) {
                return this.ratingVal = this.temp_value;
            }
        },

    /*
     * Set the rating.
     */
        set: function(value) {
            var self = this;

             if (!this.disabled) {
                this.temp_value = value;
                this.$emit('update:value',this.temp_value +1)
                return this.ratingVal = value;
            }
        }
    }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.star-rating__checkbox {
	 position: absolute;
	 overflow: hidden;
	 clip: rect(0 0 0 0);
	 height: 1px;
	 width: 1px;
	 margin: -1px;
	 padding: 0;
	 border: 0;
}
 .star-rating__star {
	 display: inline-block;
	 padding: 3px;
	 vertical-align: middle;
	 line-height: 1;
	 font-size: 1.5em;
	 color: #ababab;
	 transition: color 0.2s ease-out;
}
 .star-rating__star:hover {
	 cursor: pointer;
}
 .star-rating__star.is-selected {
	 color: #ffd700;
}
 .star-rating__star.is-disabled:hover {
	 cursor: default;
}
 

</style>
