<template>
  <div id="app">
    <layout-default/>
  </div>
</template>

<script>
import LayoutDefault from "./layout/LayoutDefault"

export default {
  name: "app",
  components: {
    "layout-default":LayoutDefault
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
}
</style>
