<template>
  <div class="page-outer">
    <nav-header></nav-header>
    <div class= "AppContent wrapper wrapper-home">
      <home-layout></home-layout>

    </div> 
  </div>
</template>

<script>
import NavHeader from '../components/shared/header/Nav'
import Home from '../components/partials/home/Home'

export default {
  name: "LayoutDefault",
  components: {
    "nav-header" : NavHeader,
    "home-layout" : Home
  },
  props: {
    msg: String
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .page-outer {
      height: 100%;
      position: relative;
    } 
    .AppContent {
      padding: 56px 14px 15px;
      position: relative;
    }
    .wrapper{
      margin: 0 auto;
      min-height: 0;
      padding: 56px 23px 15px;
      position: relative;
      width: 1200px;
    }
    @media (min-width: 1236px){
      body.three-col .wrapper {
        width: 1190px;
      }
    }  
</style>
